/* ============ Screen Resizing ============= */
@media screen and (max-width:1220px){
  .tab-content{
     -webkit-column-gap: 0;
  }
  .col-md-2 {
    min-height : 50px;
    min-width : 250px;
  }
  
  .text{
     min-width: 100%;
  }
}

@media screen and (max-width:1800px) and (min-width:1221px){
  .tab-content {
    height: 900px;
    -webkit-column-gap: 0;
  }
    .col-md-2 {
    min-width : 200px;
  }
  
  .text{
    min-width: 50%;
  }
}

@media screen and (min-width: 1801px){
  .tab-content {
    height: 710px;
     -webkit-column-gap: 0;
  }
  .text{
    min-width: 33%;
  }
}
/* ========= End of Screen Resizing ========== */

/* ============= General UI ================== */
body{
  background-color:#FFFFE0;
}

h3{
  font-weight: bold;
  color:orange;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}
/* ============= End of General UI ================== */

/* ============ Left most column ============== */

.col-md-2 left{
  width: 16.66666667%;
  min-height: 550px;
  min-width: 350px;
}

#search {
  border-radius: 15px;
  width: 250px;
    display: inline-block;
  transition: .5s ease;
}

.gate {
  display: inline-block;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: orange;
  background: #efefef;
  border: 0;
  outline: 0;
}
span:nth-child(2) .gate {
  text-indent: 55px;
}
span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active{
  text-indent: 0;
}
.gate:focus,
.gate:active {
  color: orange;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* ============ End of left most column ============== */

/* ============ Middle column ============== */

/* Header wrapper */
.dropdown{
    display: inline-block;
    position:absolute;
    right: 0px;
    font-size: 20px;
}
 
.header{
  position : relative;
}

.col-md-7{
  left: -20px;
}

.dropdown-menu {
  text-align: right;
}
  
.tab-div{
   display: inline-block;
 }
 
/* cross button at the tabs */ 
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;   
  color: black;
}

.container {
    margin-top: 10px;
}

.nav {
    display: inline-block;
}
.nav-tabs > li {
    position:relative;    
}

.nav-tabs > li > a {
    display:inline-block;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 10px;
    color: red;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}

/* Table wrapper */
.glyphicon-ok-circle{
  color: green;
    left: 5px;
}
.glyphicon-remove-circle{
  color: red;
  left: 5px;
}

.text {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.text p {
  display: inline-block;
  min-width: 80px;;
} 

.table-name{
  min-width: 160px;
  text-align: center;
}

/* ========= End of middle column ========== */

/* ========= Right most column ========== */
#logout {
  font-size: 20px;
}
  

/* ========= End of right most column ========== */

/* Cory's stuff! */
p {
  margin: 0;
}

.row {
  margin: 0;
}


.panel-body1{
  position: relative;
  max-height: 500px;
  overflow-y: scroll;
}

.panel-body2{
  max-height: 500px;
  overflow-y: scroll;
}

.panel-body3{
  max-height: 500px;
  overflow-y: scroll;
}

.rowIcon1{
  position: relative;
  float: right;
}

.panel-groupCustom{
  width: 330px;
  height: 100px;
}

.panel-group{
  width: 350px;
}


@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');

<style>
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#callElem{
  background-color: white;
  height: 115px;
  width: 275px;
  border: 2px;
  border-radius: 10px;
  padding:8px;
  box-shadow: inset 0 0 3px #000;
  float:right;
  margin-top: 5px;
}

.dots{
  font-size: 18px;
  float: left;
}

.content{
  position: absolute;
  margin-left: 15px;
  float: left;
}

.varExt{
  font-size: 14px;
  
}

.varName{
  font-size: 17px;
  float:left;
}

.phonePic{
  font-size: 60px;
  margin-bottom: -25px;
  color: grey;
  position: absolute;
  left: 170px;
}

.varNumber{
  font-size: 17px;
  margin-top: -20px;
}

.buttons{
  float: left;
}

.hold{
  font-size: 15px;
  padding-top: 1px;
  height: 25px;
  width: 120px;
  position:relative;
  bottom: 0px;
  left: 0px;
}

.park{
  font-size: 15px;
  padding-top: 1px;
  height: 25px;
  width: 120px;
  position:relative;
  bottom: 24px;
  right: -122px;
}



#callElem3{
  height: 95px;
  width: 275px;
  border: 2px;
  padding-left:3px;
  padding-top: 2px;
  box-shadow: inset 0 0 3px #000;
  float:left;
  margin-bottom: 10px;
}

.custom{
  border: 2px;
  border-radius: 2px;
  overflow-y: scroll;
  height: 800px;
  max-height: 800px;
  width: 300px;
  position: relative;
  float: right;
  border-color: black;
  box-shadow: inset 0 0 3px #000;
}

.incomingHeader{
  position: relative;
  padding-left: 13px;
  font-size: 18px;
}

.parkDots{
  font-size: 15px;
  padding-top: 3px;
  float: left;
}

.varName3{
  font-size: 20px;
  float:left;
  margin-right: 5px;
}

.varNumber3{
  font-size: 15px;
  position:relative;
  right: 0px;
  top: 3px;
}

.parkTime{
  float:left;
  margin-right: 25px;
  font-size: 25px;
}


.parkBy{
  float:left;
  margin-right:10px;
}

.parkName{
  font-size: 18px;
}

.parkSel{
  font-size: 18px;
}

.pIcon{
  height: 65px;
  width: 65px;
  border: 2px;
  border-radius: 65px;
  padding:8px;
  padding-left: 12px;
  box-shadow: inset 0 0 30px #000;
  float: left;
  position: relative;
  right: -8px;
  top: -20px;
}

.iconNum{
  position: relative;
  text-align: center;
  right: 2px;
  font-size: 35px;
}

</style>
